# Ignore Python bytecode files
*.py[cod]
__pycache__/

# Ignore virtual environment directory
venv/

# Ignore environment variable files
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore temporary files
*.log
*.tmp

# Ignore compiled C extensions
*.so

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore VS Code settings
.vscode/

# Ignore PyCharm settings
.idea/

# Ignore JetBrains Rider settings
.idea/

# Ignore coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# Ignore distribution files
dist/
build/
*.egg-info/
